<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<div class="heading">
  <div class="nav">
    <div class="container"> <h3>Logo</h3> </div>
    <div class="container">
      <ul>
        <li><a>Home</a></li>
        <li > <a th:href="@{/aboutUsView}">About us</a> </li>
        <li> <a th:href="@{/adminPageView}">Admin</a></li>
      </ul>
    </div>
    <div class="container"></div>
  </div>
</div>
<div class="settingsContainer">
<div class="settingsNav">
  <h3>Settings</h3>

    <form action="/adminPageView" method="get">
      <button type="submit" name="tableName" value="dog">Dogs</button>
    </form>
    <form action="/adminPageView" method="get">
      <button type="submit" name="tableName" value="person">Owners</button>
    </form>
  <button>Requests</button>
  <button>Dogs</button>
  <button>Owners</button>
</div>
<div class="settingsInfo">
  <div class="dogSetting" th:if="${tableName == dog}" >
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Breed</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dog : ${data}">
        <td th:text="${dog.name}"></td>
        <td th:text="${dog.age}"></td>
        <td th:text="${dog.breed}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="personSettings" th:if="${tableName == 'person'}">
    <table>
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="person : ${data}">
        <td th:text="${person.name}"></td>
      </tr>
      </tbody>
    </table>

  </div>

  </div>

</div>

</body>
</html>